.modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body {
  background-color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

p {
  color: #757575;
}

footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-addres {
  display: inline-block;
}

.footer-social {
  display: inline-block;
  /* margin-left: 70px; */
}

.follow-text {
  margin: 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}

.foot-txt {
  padding-bottom: 20px;
}

.social-block-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-link-footer {
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.social-link-footer:hover,
.social-link-footer:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-block-footer > .social-li:not(:last-child) {
  margin-right: 10px;
}

.footer-logo {
  padding-bottom: 20px;
}

.footer-ul {
  padding-left: 0px;
}

.logo-foot {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo-white {
  color: #ffffff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-align: left;
}

.addres {
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.mail {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.number {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

/* Follow modal footer*/
.send-container {
  display: inline-block;
}

.send-container .follow-text {
  margin-bottom: 20px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-follow {
  color: #ffffff;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: rgba(33, 150, 243, 0);
  padding-left: 16px;
}

.follow-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 12px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-style: none;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
}

.sand-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.is-hidden {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-x {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: #212121;
}

.modal-close .modal-x:hover {
  fill: #2196f3;
}

.modal-container {
  display: inline-block;
  margin: 40px;
}

.modal-text {
  margin: 0;
  padding-bottom: 12px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
}

.input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 35px;
}

.input:focus,
.input:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.input:focus + .modal-icon {
  fill: #2196f3;
}

.input:hover + .modal-icon {
  fill: #2196f3;
}

.textarea-madal {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.name-modal {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.phone-modal {
  margin-bottom: 4px;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.mail-modal {
  margin-bottom: 4px;
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.text-extra {
  margin-bottom: 4px;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.textarea-madal {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
}

.textarea-madal:focus,
.textarea-madal:hover {
  border: 1px solid #2196f3;
  cursor: pointer;
}

/* checkbox */
.checkbox-modal {
  margin-top: 20px;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 7px;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../photo/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.text-agre {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.agre-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #2196f3;
}

.button-modal {
  margin-left: 50%;
  margin-right: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-style: none;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-icon-container {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
}

header {
  border-bottom: 1px solid #eeeeee;
}

.logo-header {
  padding-top: 24px;
  padding-bottom: 15px;
}

.container-nav {
  background-color: #ffffff;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Logo */
.logo-blue {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo {
  color: #212121;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.03em;
  text-align: left;
}

/* NAV */
.head-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.head-nav-link .nav-li + .nav-li {
  margin-left: 50px;
}

.nav-link {
  position: relative;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 10px;
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.nav-link::after {
  content: '';
  position: absolute;
  margin: -1p;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196f3;
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.current-link.nav-link::after,
.nav-link:hover::after {
  opacity: 1;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
}

.nav-link:focus,
.nav-link:hover {
  color: #2196f3;
}

/* ADDRRES */
.head-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;
}

.head-add .add-li + .add-li {
  margin-left: 50px;
}

.add-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.add-link:focus,
.add-link:hover {
  color: #2196f3;
}

.hero-container {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../photo/hero-overlay-after.jpg);
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../photo/hero-overlay-after.jpg);
  background-color: #2f303a;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-text-container {
  width: 696px;
  margin: 0 auto;
}

.hero-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Hero Buttons */
.hero-button {
  padding: 10px 32px;
  margin-top: 30px;
  min-width: 200px;
  height: 50px;
  border-style: none;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 1px;
  cursor: pointer;
}

.back-best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
}

.best-section {
  padding-top: 94px;
}

.best-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-best-ul .main-best-li + .main-best-li {
  margin-left: 30px;
}

.main-best-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.main-best-li {
  width: 270px;
}

.best {
  margin: 0px;
  padding-bottom: 10px;
}

.best-text {
  margin: 0px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.wwd-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.wwd-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.wwd {
  margin: 0px;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.wwd-img-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  padding-top: 50px;
}

.wwd-img-li {
  margin-right: 30px;
  position: relative;
}

.wwd-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.shadow-text {
  margin: 0;
  padding-top: 27px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.wwd-img-li:last-child {
  margin-right: 0px;
}

.social-block > .social-li:not(:last-child) {
  margin-right: 10px;
}

.social-block {
  padding-left: 32px;
  padding-bottom: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-link {
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: #ffffff;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.team-text {
  margin: 0;
}

.team {
  padding: 0px;
  margin: 0px;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.team-li {
  background-color: #ffffff;
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-li:last-child {
  margin-right: 0px;
}

.name {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.profession {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.clients-ul > .clients-li:not(:last-child) {
  margin-right: 30px;
}

.clients-link:hover,
.clients-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients-ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.clients-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}

.clients-icon {
  fill: currentColor;
}

.photo-portfolio {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.photo-element:hover .portfolio-overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.pic-link:focus .portfolio-overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.ppt {
  padding-left: 24px;
  padding-top: 63px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.photo-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0px;
}

.photo-element {
  margin-right: 30px;
  margin-bottom: 30px;
  /* border: 1px solid #eeeeee; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pic-link {
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}

.pic-link:focus,
.pic-link:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.Portfolio-text {
  padding: 20px 24px;
}

.photo-element:nth-child(3n) {
  margin-right: 0px;
}

.name-project {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.about-project {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-buttons-section {
  padding-bottom: 50px;
}

.portfolio-buttons-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0px;
}

.portfolio-buttons-li {
  padding-right: 8px;
}

.portfolio-buttons-li:last-child {
  padding-right: 0px;
}

.portfolio-button {
  padding: 6px 22px;
  border-style: none;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #212121;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

.portfolio-button:focus,
.portfolio-button:hover {
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button:focus,
.portfolio-button:hover {
  background-color: #2196f3;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */
