body {
  background-color: $main-background-color;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

p {
  color: $sec-text-color;
}
