$main-background-color: #ffffff;
$sec-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$accent-color: #2196f3;
$text-color: #212121;
$text-hero: #ffffff;
$sec-text-color: #757575;
$portfolio-buttons: #f5f4fa;
$social-icons: #afb1b8;

$animation-time: 250ms;
$animation-type: linear;

$main-font-family: Raleway;
$sec-font-family: Roboto;
